{% extends 'base.html' %}
{% block title %} Guest book {%endblock%}
{% block menu %}
{% endblock %}
{% block content %}
<style>
.container {
  padding: 0;
  margin: 30px;
}

.card {
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
.card-title {
  display: flex;
  align-items: center;
}

.card-title svg {
  margin-left: 10px;
  vertical-align: middle;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}




</style>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="{{ product.picture.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }} ({{ product.category }})</h5>
                <p class="card-text">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <h3>Add a review</h3>
    <form method="post" action="{% url 'review_create' product.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if reviews %}
    <h3>Reviews</h3>
    <ul>
        {% for review in reviews %}
        <li>
            <p><strong>{{ review.author }}</strong> says:</p>
            <p>{{ review.text }}</p>
            <p>Rating: {{ review.rating }}</p>
            <a href="{% url 'review_update' review.pk %}">Edit</a>
            <a href="{% url 'review_delete' review.pk %}">Удалить</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reviews yet.</p>
    {% endif %}

</div>
</div>
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}