{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}
{% block menu %}
    <li><a href="{% url 'change' user_obj.pk %}">Редактировать</a></li>
    <li><a href="#">Смена пароля</a></li>
{% endblock %}

{% block content %}
    <br>
<br>
<br>
<br>
    <h1>Личная страница пользователя {{ user_obj.username }}</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>

  <div class="row">
    <div class="col-2 text-center">
        <a href="{% url 'change' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block">Редактировать</button></a>
    </div>
  <div class="col-2 text-center">
    <a href="{% url 'password_change' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block">Смена пароля</button></a>
 </div>

    <h2 class="text-center clear">Ваши отзывы:</h2>

      {% for review in reviews%}
          <p>Отзыв: {{ review.text }}</p>
            <p>К товару: {{ review.product }}</p>
        {% endfor %}

{% endblock %}